/* .component {
  height: 100vh !important;
  width: 100vw;
} */

.root {
  display: block;
  margin: 15px auto;
  position: relative;
  color: #6ebeff;
  box-sizing: border-box;
  margin: 0;
  animation: rotation 1s linear infinite;
  position: absolute;
  right: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
}
.root::after,
.root::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #6ebeff;
  border-radius: 50%;
  animation: animroot 1s infinite ease-in-out;
}
.root::before {
  background-color: #337ab7;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animroot {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
