.welcomeText {
  font-size: 3.6em;
  text-align: center;
}

.welcomeSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  justify-content: center;
  padding: 0 10px;
}

.welcomeButton {
  gap: 10px;
}
