* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Evolventa', sans-serif !important;
  /* color: #1976d2; */
}

@font-face {
  font-family: 'Evolventa';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Evolventa-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Evolventa';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Evolventa-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Evolventa';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Evolventa-Oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Evolventa';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Evolventa-Bold.ttf') format('truetype');
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
