.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: center;
  padding-bottom: 87px;
  padding-top: 100px;
      width: 100%;
}

.container > :first-child {
  height: 100%;
}